In [4]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import sys
import googletrans

In [74]:
#initialise csv
df= pd.read_excel("data/aqi_city_wise.xlsx")
df.head()

   city  AQI  PM2.5  PM10  NO2  NH3
0   NaN    0    NaN   NaN  NaN  NaN
1   NaN    0    NaN   NaN  NaN  NaN
2   NaN    0    NaN   NaN  NaN  NaN
3   NaN    0    NaN   NaN  NaN  NaN
4   NaN    0    NaN   NaN  NaN  NaN

In [75]:
df1=df

In [80]:
df1.head(5)

        city  AQI  PM2.5  PM10  NO2  NH3
1      delhi    0    NaN   NaN  NaN  NaN
2  bengaluru    0    NaN   NaN  NaN  NaN
3     mumbai    0    NaN   NaN  NaN  NaN
4    chennai    0    NaN   NaN  NaN  NaN
5  hyderabad    0    NaN   NaN  NaN  NaN

Generating all city names and storing in a list

In [71]:
cities=[]
citynames=[]
driver = webdriver.Chrome()
driver.get('https://www.oneindia.com/air-quality-index/')
menu_click = "//span[@id='select2-aqi_city_search-container']"
driver.find_element_by_xpath(menu_click).click()
li_path = "select2-results__option"
cities = driver.find_elements_by_xpath("//ul[@class='select2-results__options']//li")
for items in cities:
    citynames.append(items.text.lower())
driver.close()

C:\Users\shara\AppData\Local\Temp\ipykernel_16524\1985888417.py:6: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  driver.find_element_by_xpath(menu_click).click()
C:\Users\shara\AppData\Local\Temp\ipykernel_16524\1985888417.py:8: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  cities = driver.find_elements_by_xpath("//ul[@class='select2-results__options']//li")

In [77]:
len(citynames)

159

In [78]:
df1['city']=pd.Series(citynames)

In [79]:
df1.drop([0],inplace=True)

now getting aqi details

In [94]:
from selenium.webdriver.chrome.options import Options

chrome_options = Options()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--log-level=3')

In [102]:
import time
driver = webdriver.Chrome(options=chrome_options)
for i in range(len(df1)):
    url = 'https://www.oneindia.com/air-quality-index/'+df1.iloc[i,0]
    driver.get(url)
    avg_aqi = driver.find_element_by_xpath("//div[2]/div/div/div/div/span").text
    avg_pm25 = driver.find_element_by_xpath("//td[2]").text
    avg_pm10 = driver.find_element_by_xpath("//tr[3]/td[2]").text
    avg_no2 = driver.find_element_by_xpath("//tr[4]/td[2]").text
    avg_nh3 = driver.find_element_by_xpath("//tr[5]/td[2]").text
    df1.iloc[i,1] = avg_aqi
    df1.iloc[i,2] = avg_pm25
    df1.iloc[i,3] = avg_pm10
    df1.iloc[i,4] = avg_no2
    df1.iloc[i,5] = avg_nh3
    print("Percentage Completed: {}%".format(round((i/(df1.shape[0]-1))*100,2)),end="\r")
driver.close()

C:\Users\shara\AppData\Local\Temp\ipykernel_16524\2311242977.py:6: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  avg_aqi = driver.find_element_by_xpath("//div[2]/div/div/div/div/span").text
C:\Users\shara\AppData\Local\Temp\ipykernel_16524\2311242977.py:7: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  avg_pm25 = driver.find_element_by_xpath("//td[2]").text
C:\Users\shara\AppData\Local\Temp\ipykernel_16524\2311242977.py:8: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  avg_pm10 = driver.find_element_by_xpath("//tr[3]/td[2]").text
C:\Users\shara\AppData\Local\Temp\ipykernel_16524\2311242977.py:9: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  avg_no2 = driver.find_element_by_xpath("//tr[4]/td[2]").text
C:\Users\shara\AppData\Local\Temp\ipykernel_16524\2311242977.py:10: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  avg_nh3 = driver.find_element_by_xpath("//tr[5]/td[2]").text

In [103]:
df1.head()

        city  AQI PM2.5 PM10 NO2 NH3
1      delhi  119    88  189  72  13
2  bengaluru   47    70   54  22   7
3     mumbai   70   169  132   7   5
4    chennai   74    89   74  40   4
5  hyderabad   74    49   74  54   2

In [106]:
df1.to_excel("data/final_aqi_india-30-08-22.xlsx")